<nav class="navbar navbar-custom" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
              <img src="assets/img/eco-factory.svg" class="logo">
            </a>
            <span class="navbar-brand">EntManager</span>
        </div>
        <ul class="nav navbar-nav">
            <li *ngIf="authenticate"><a routerLink="">
              home <span class="sr-only">(current)</span>
            </a></li>
            <li *ngIf="authenticate"><a routerLink="/calendar"  >Event calendar</a></li>
            <li *ngIf="authenticate" class="dropdown" dropdown> 
                <a dropdownToggle role="button"> 
                  Employees <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu"> 
                    <li><a routerLink="/createemployee">add Employee</a></li>
                    <li><a routerLink="/employees">curents Employees</a></li>
                    
                    
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            
            <li *ngIf="!authenticate"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li *ngIf="authenticate"><a (click)="logout()"><span class="navabar-link glyphicon glyphicon-log-out"></span> Loogout</a></li>
        </ul>
    </div>
</nav>