<div class="row">
    <div class="col-md-6 col-md-offset-3">
       <form   [formGroup]="formGroup" class="form-inlineclass" form-horizontal>
          <div class="row">
                <div class="col-md-5 ">
                    <div class="form-group">
                    <label for="salary" class="control-label required">salary</label>
                    <input type="number"  id="salary"  formControlName="salary" class="form-control" >
                    </div>
                </div>
          </div>
            <div class="row">
                <div class="col-md-5 ">
                   <div class="form-group" >
                      <label for="fromDate" class="control-label required">fromDate:</label>
                      <input type="text"
                         formControlName="fromDate"
                         placeholder="Datepicker"
                         class="form-control"
                         bsDatepicker
                         id="fromDate"
                         [bsConfig]="{ isAnimated: true }" >
                   </div>
                   <div>
                   </div>
                   <div class="form-group" >
                      <label for="toDate" class="control-label required">toDate</label>
                      <input type="text"
                         id="toDate"
                         placeholder="Datepicker"
                         class="form-control"
                         bsDatepicker
                         formControlName="toDate"
                         [bsConfig]="{ isAnimated: true }" >
                   </div>
                </div>
             </div>
          
          <br>
          <br>
          <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
       </form>
    </div>
 </div>