<div id="background-wrap">
        <div class="x1">
            <div class="cloud"></div>
        </div>
    
        <div class="x2">
            <div class="cloud"></div>
        </div>
        <div class='c'>
                <div class='_404'>404</div>
                <hr>
                <div class='_1'>THE PAGE</div>
                <div class='_2'>WAS NOT FOUND</div>
                <a class='btn' href='#'>BACK TO MARS</a>
            </div>
        <div class="x3">
            <div class="cloud"></div>
        </div>
    
        <div class="x4">
            <div class="cloud"></div>
        </div>
    
        <div class="x5">
            <div class="cloud"></div>
        </div>
</div>

   