/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.logo {
    width: auto;
    height: 32px;
    margin-top: -10px;
   }
   .control-label.required:after { 
    color: #d00;
    content: "*";
    
    margin-left: 5px;
    top:7px;
}