<div class="loader" *ngIf="isLoading"></div>
<div  class="well" *ngIf="!isLoading&&!show">didn't get any data</div>

<div *ngIf="!isLoading&&show">
<table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>hiredate</th>
            <th>birthdate</th>
          </tr>
        </thead>
        <tbody>
                <tr *ngFor="let item of employees | paginate: { itemsPerPage: 50, currentPage: page }">
                       
                        <td><a [routerLink]="['/showProfile',item.id]">{{item.first_name}}</a></td>
                        <td>{{item.last_name}}</td>
                        <td>{{item.hire_date.toLocaleDateString()}}</td>
                        <td>{{item.birth_date.toLocaleDateString()}}</td>
                <a [routerLink]="['/editemployee',item.id]" class="btn btn-danger">Edit</a>
                </tr>
</tbody>
</table>
<pagination-controls (pageChange)="page=$event"></pagination-controls>
</div>
 