
<table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>hiredate</th>
            <th>birthdate</th>
          </tr>
        </thead>
        <tbody>
                <tr *ngFor="let item of employees | paginate: { itemsPerPage: 10, currentPage: page }">
                        
                        <td>{{item.first_name}}</td>
                        <td>{{item.last_name}}</td>
                        <td>{{item.hire_date}}</td>
                        <td>{{item.birth_date}}</td>
                </tr>
</tbody>
</table>
<pagination-controls (pageChange)="page=$event"></pagination-controls>
